<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.antoinehory.firebaseoc">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fr.antoinehory.firebaseoc.ui.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:exported="true"> <!-- DISABLE TOOLBAR IN MAIN ACTIVITY-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- PROFILE ACTIVITY -->
        <activity android:name=".ui.ProfileActivity"
            android:label="@string/toolbar_title_login_activity"
            android:parentActivityName=".ui.MainActivity"/>
        <!-- MENTOR CHAT ACTIVITY -->
        <activity android:name=".ui.MentorChatActivity"
            android:label="@string/toolbar_title_mentor_chat_activity"
            android:parentActivityName=".ui.MainActivity"/>
    </application>

</manifest>